<header style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'background_cocktail.jpg'%>)">
  <div class="header-content">
    <h1>What Do You Want?</h1>
    <p>You can add anything</p>
    <form action="#" class="form-inline">

      <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
    </form>
  </div>
</header>
<div class="tabs">
  <a class="tab" id="active" href="#">
    <p>Trending</p>
  </a>
  <a class="tab" href="#">
    <p>New</p>
  </a>
  <a class="tab" href="#">
    <p>Popular</p>
  </a>
  <a class="tab" href="#">
    <p>Favorite</p>
  </a>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4 padding-0">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.photo.present? ? cl_image_path(cocktail.photo) : image_path('background_cocktail.jpg') %>')">
          <div class="card-category"><%= link_to cocktail.name, cocktail_path(cocktail) %></div>
          <div class="card-mark">
            <a href="#"><i class="far fa-heart"></i></a>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

